<!-- footer -->
<div class="row p-3">
    <div class="col-md-4 bg-secondary text-white p-2">
             <!-- address -->
             <h5>Address</h5>
             <hr>
        no.19/8 chelliamman,<br>
        2nd street,<br>
        bashyam colony,<br>
        chennai-600082<br>
  </div>
             <!-- quick links -->
  
<div class="col-md-4 bg-secondary text-white p-2">
  <h5>Quick links</h5>
  <hr>
    <a href="/home"><strong>Home</strong></a><br>
    <a href="/contact"><strong>contact</strong></a><br>
    <a href="/about"><strong>about</strong></a><br>
</div>

<div class="col-md-4 bg-secondary text-white p-2">
  <h5>Connect us</h5>
  <hr>
  
   <a href="http:www.facebook.com" target="_blank">
    <i class="bi bi-facebook fs-4 text-primary d-inline"></i></a> &nbsp;
    <a href="http:www.instagram.com" target="_blank">
      <i class="bi bi-instagram fs-4 text-primary d-inline"></i></a>&nbsp;
      <a href="http:www.twitter.com" target="_blank">
        <i class="bi bi-twitter fs-4 text-primary d-inline"></i></a>&nbsp;

</div>
</div>

